body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-calculardora{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 290px;
  height: 410px;
  text-align: center;
  background: #212529;
  border-radius: 10px;
}

.button-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: minmax(60px, auto);
  padding: 10px;
  height: 285px;
}


.mostrar{
  margin-top: 10px;
  height: 45px;
  width: 250px;
  background-color: #0a0908;
  border: 0px;
  color: #fff;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 8px;
}

.resultado{
  height: 45px;
  width: 250px;
  background-color: #0a0908;
  border: 0px;
  color: #fff;
  text-align: right;
  font-size: 30px;
  font-weight: 1000;
  letter-spacing: 1px;
  border-radius: 8px;
}

#result{
  grid-column: 3/5;
  grid-row: 5;
  background: #023e8a;
}

button{
  margin: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #343a40;
  color: #fff;
  font-weight: 800;
}

input:focus,
input :active,
button :focus
button :active
{
  outline: none !important;
}

.calculo{
  background: #0077b6;
  color: #000;
}

.borrar{
  background: #0096c7;
  color: #000;
}


p{
  color: #fff;
  text-align: right;
}
